{% extends "layout.html.twig" %}
{% block contenu %}

	<h1 style="text-align: center;color: darkred;"> Bienvenue sur l'accueil de la Forge de Lige-Feu </h1>
	<div style="margin-left: 15%;">
		<img src="../../images/andre_the_blacksmith.jpg">
	</div>
{% endblock %}

