<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area"> 
      <li class="name"> 
        <h1> <a href="">TP web<span style="color:#ff0000;"> menu avec twig</span></a></h1>
      </li> 
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li> 
    </ul> 
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#">produits</a>
          <ul class="dropdown">
            <li><a href="{#{ path('produitClient.show') }#}">afficher les produits (pour le client)</a></li>
            <li><a href="{#{ path('produitClient.find') }#}">rechercher un produit </a></li>
          </ul>
        </li>
        <li><a href="">panier</a>

        </li>
        <li class="has-dropdown"><a href="#">mon compte</a>
          <ul class="dropdown">
            <li><a href="#">mes commandes</a></li>
            <li><a href="#">mes coordonnées</a></li>
          </ul>
        </li>
      </ul>
        <ul class="right">
            {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
                <li class="name" style="color: #d58512">Connecté en tant que : {{ app.session.get('username') }}</li>
                <li><a href="{{ path('user.logout')  }}">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path('user.login')  }}">Se connecter</a></li>
            {% endif %}
        </ul>
    </section> 
</nav>

