{% extends "layout.html.twig" %}



{% block contenu %}

	<h1> Projet 2 web : site de vente Espace client </h1>

	<div class="row">
		<div class="small-7 large-7 columns">
			les produits + liens
		</div>
		<div class="small-5 large-5 columns">
			le panier +liens
		</div>

	</div>

{% endblock %}







